[settings]
profile=black
py_version = 310
line_length=79
skip=.tox,.nox,.venv,build,dist
known_setuptools=setuptools,pkg_resources
known_test=pytest
known_first_party=hand,card,app
sections=FUTURE,STDLIB,SETUPTOOLS,TEST,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
